.tabBody-3YRQ8W { /* friends tab list */
   background-color: #141414;
}
 
.theme-dark .inset-3sAvek { /* active now games */
   background-color:  #141414;
}
 
.thin-1ybCId { /* dms and active now background */
   background-color: #111111;
}
 
.theme-dark .autocomplete-1vrmpx { /* message autocomplete box */
   background-color:  #141414;
}
 
.container-3w7J-x { /* channels */
   border-right: 1px solid var(--border-color);
}